schemas/w10p10/STLBaseTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<description>
				St. Louis Withholding and Payroll Expense Tax Electronic Filing Schema: Base types commonly used across schema files.
			</description>
			<version>1.1.1</version>
		</xsd:documentation>
	</xsd:annotation>

	<!-- String Type -->
	<xsd:simpleType name="StringType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a string.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	
	<!-- Boolean Type -->
	<xsd:simpleType name="BooleanType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a boolean. Permissible values are: true, false, 1, or 0.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	
	<!-- Integer Non-Negative Type -->
	<xsd:simpleType name="IntegerNNType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a non-negative integer.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	
	<!-- Decimal Non-Negative Type -->
	<xsd:simpleType name="DecimalNNType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a non-negative two-digit decimal typically used by fields containing dollar amounts.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Return Type -->
	<xsd:simpleType name="ReturnType">
		<xsd:annotation>
			<xsd:documentation>
				Enumeration of ReturnType valid values, which includes:
				<ul>
					<li>STLW10: W-10 Employer's Withholding Return</li>
					<li>STLP10: Payroll Expense Tax Return</li>
					<li>STLW10PEO: Professional Employer Organization W-10 Return and Subsidiary Report</li>
					<li>STLP10PEO: Professional Employer Organization P-10 Return and Subsidiary Report</li>
				</ul>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="STLW10"/>
			<xsd:enumeration value="STLP10"/>
			<xsd:enumeration value="STLW10PEO"/>
			<xsd:enumeration value="STLP10PEO"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Social Security Number Type -->
	<xsd:simpleType name="SSNType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a Social Security Number or Taxpayer Identification Number consisting of nine (9) digits. Dashes or spaces must be omitted.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Employer Identification Number Type -->
	<xsd:simpleType name="EINType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a Federal Employer Identification Number consisting of nine (9) digits. Dashes or spaces must be omitted.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- STL Account Number Type -->
	<xsd:simpleType name="STLAccountNumberType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a St. Louis Earnings Tax Account Number consisting of eleven (11) digits. This number is typically the taxpayer's Employer Identification Number suffixed with two digits. Dashes or spaces must be omitted. The St. Louis Earnings Tax Account Number is a legacy format which is supported but not encouraged or required.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Account Identifier Type -->
	<xsd:simpleType name="AccountIdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for an account identification number formatted according to the guidelines of SSNType, EINType, or STLAccountNumberType above.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="SSNType EINType STLAccountNumberType"/>
	</xsd:simpleType>

	<!-- Attention Line Type -->
	<xsd:simpleType name="AttentionLineType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for an attention line to be included in a mailing address to more specifically indicate to whom a mail piece should be delivered. The attention line frequently starts with "Attention:" (often abbreviated as "Attn:") or "In Care Of" (often abbreviated as "c/o"); however, these are only suggestions and not requirements. An attention line can contain letters, numbers, and punctuation from the Basic Latin and Latin-1 Supplement Unicode blocks.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]+"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Business Name Type -->
	<xsd:simpleType name="BusinessNameType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a business name. A business name can contain letters, numbers, and punctuation from the Basic Latin and Latin-1 Supplement Unicode blocks.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]+"/>
		</xsd:restriction>
	</xsd:simpleType>	

	<!-- Street Address Type -->
    <xsd:simpleType name="StreetAddressType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a street address. A street address can contain letters, numbers, and punctuation from the Basic Latin and Latin-1 Supplement Unicode blocks. Abbreviations are permitted in accordance with the standards and customs of the locale.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- City Type -->
	<xsd:simpleType name="CityType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a city name. A city name can contain letters, numbers, and punctuation from the Basic Latin and Latin-1 Supplement Unicode blocks. Abbreviations are permitted in accordance with the standards and customs of the locale.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]+"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- U.S. State Type -->
	<xsd:simpleType name="USStateType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a United States state or territory represented by its standard two-letter abbreviation.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AL">
				<xsd:annotation>
					<xsd:documentation>Alabama</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AK">
				<xsd:annotation>
					<xsd:documentation>Alaska</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AS">
				<xsd:annotation>
					<xsd:documentation>American Samoa</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AZ">
				<xsd:annotation>
					<xsd:documentation>Arizona</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AR">
				<xsd:annotation>
					<xsd:documentation>Arkansas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CA">
				<xsd:annotation>
					<xsd:documentation>California</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CO">
				<xsd:annotation>
					<xsd:documentation>Colorado</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MP">
				<xsd:annotation>
					<xsd:documentation>Commonwealth of the Northern Mariana Islands</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CT">
				<xsd:annotation>
					<xsd:documentation>Connecticut</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DE">
				<xsd:annotation>
					<xsd:documentation>Delaware</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DC">
				<xsd:annotation>
					<xsd:documentation>District of Columbia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FM">
				<xsd:annotation>
					<xsd:documentation>Federated States of Micronesia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FL">
				<xsd:annotation>
					<xsd:documentation>Florida</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GA">
				<xsd:annotation>
					<xsd:documentation>Georgia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GU">
				<xsd:annotation>
					<xsd:documentation>Guam</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HI">
				<xsd:annotation>
					<xsd:documentation>Hawaii</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ID">
				<xsd:annotation>
					<xsd:documentation>Idaho</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IL">
				<xsd:annotation>
					<xsd:documentation>Illinois</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IN">
				<xsd:annotation>
					<xsd:documentation>Indiana</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IA">
				<xsd:annotation>
					<xsd:documentation>Iowa</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KS">
				<xsd:annotation>
					<xsd:documentation>Kansas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KY">
				<xsd:annotation>
					<xsd:documentation>Kentucky</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LA">
				<xsd:annotation>
					<xsd:documentation>Louisiana</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ME">
				<xsd:annotation>
					<xsd:documentation>Maine</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MH">
				<xsd:annotation>
					<xsd:documentation>Marshall Islands</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MD">
				<xsd:annotation>
					<xsd:documentation>Maryland</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MA">
				<xsd:annotation>
					<xsd:documentation>Massachusetts</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MI">
				<xsd:annotation>
					<xsd:documentation>Michigan</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MN">
				<xsd:annotation>
					<xsd:documentation>Minnesota</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MS">
				<xsd:annotation>
					<xsd:documentation>Mississippi</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MO">
				<xsd:annotation>
					<xsd:documentation>Missouri</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MT">
				<xsd:annotation>
					<xsd:documentation>Montana</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NE">
				<xsd:annotation>
					<xsd:documentation>Nebraska</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NV">
				<xsd:annotation>
					<xsd:documentation>Nevada</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NH">
				<xsd:annotation>
					<xsd:documentation>New Hampshire</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NJ">
				<xsd:annotation>
					<xsd:documentation>New Jersey</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NM">
				<xsd:annotation>
					<xsd:documentation>New Mexico</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NY">
				<xsd:annotation>
					<xsd:documentation>New York</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NC">
				<xsd:annotation>
					<xsd:documentation>North Carolina</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ND">
				<xsd:annotation>
					<xsd:documentation>North Dakota</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OH">
				<xsd:annotation>
					<xsd:documentation>Ohio</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OK">
				<xsd:annotation>
					<xsd:documentation>Oklahoma</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OR">
				<xsd:annotation>
					<xsd:documentation>Oregon</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PW">
				<xsd:annotation>
					<xsd:documentation>Palau</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PA">
				<xsd:annotation>
					<xsd:documentation>Pennsylvania</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PR">
				<xsd:annotation>
					<xsd:documentation>Puerto Rico</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RI">
				<xsd:annotation>
					<xsd:documentation>Rhode Island</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SC">
				<xsd:annotation>
					<xsd:documentation>South Carolina</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SD">
				<xsd:annotation>
					<xsd:documentation>South Dakota</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TN">
				<xsd:annotation>
					<xsd:documentation>Tennessee</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TX">
				<xsd:annotation>
					<xsd:documentation>Texas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VI">
				<xsd:annotation>
					<xsd:documentation>U.S. Virgin Islands</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UT">
				<xsd:annotation>
					<xsd:documentation>Utah</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VT">
				<xsd:annotation>
					<xsd:documentation>Vermont</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VA">
				<xsd:annotation>
					<xsd:documentation>Virginia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WA">
				<xsd:annotation>
					<xsd:documentation>Washington</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WV">
				<xsd:annotation>
					<xsd:documentation>West Virginia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WI">
				<xsd:annotation>
					<xsd:documentation>Wisconsin</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WY">
				<xsd:annotation>
					<xsd:documentation>Wyoming</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AA">
				<xsd:annotation>
					<xsd:documentation>Armed Forces the Americas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AE">
				<xsd:annotation>
					<xsd:documentation>Armed Forces Europe</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AP">
				<xsd:annotation>
					<xsd:documentation>Armed Forces Pacific</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Canada Province Type -->
	<xsd:simpleType name="CanadaProvinceType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a Canadian province or territory represented by its standard two-letter abbreviation.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AB">
				<xsd:annotation>
					<xsd:documentation>Alberta</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BC">
				<xsd:annotation>
					<xsd:documentation>British Columbia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MB">
				<xsd:annotation>
					<xsd:documentation>Manitoba</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NB">
				<xsd:annotation>
					<xsd:documentation>New Brunswick</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NL">
				<xsd:annotation>
					<xsd:documentation>Newfoundland and Labrador</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NT">
				<xsd:annotation>
					<xsd:documentation>Northwest Territories</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NS">
				<xsd:annotation>
					<xsd:documentation>Nova Scotia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NU">
				<xsd:annotation>
					<xsd:documentation>Nunavut</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ON">
				<xsd:annotation>
					<xsd:documentation>Ontario</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PE">
				<xsd:annotation>
					<xsd:documentation>Prince Edward Island</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="QC">
				<xsd:annotation>
					<xsd:documentation>Quebec</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SK">
				<xsd:annotation>
					<xsd:documentation>Saskatchewan</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="YT">
				<xsd:annotation>
					<xsd:documentation>Yukon</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- International Region Type -->
	<xsd:simpleType name="InternationalRegionType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for the name of a region, state, province, or other administrative division outside of the United States or Canda. An international region name can contain letters, numbers, and punctuation from the Basic Latin and Latin-1 Supplement Unicode blocks. Region names can be provided as abbreviations in accordance with local standards.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
			<xsd:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]+"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- U.S. ZIP Code Type -->
	<xsd:simpleType name="USZIPCodeType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a five-digit United States ZIP code, plus an optional dash or space and an optional (but recommended) four-digit ZIP+4 code.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{5}(\-| )?([0-9]{4})?"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Canadian Postal Code Type -->
	<xsd:simpleType name="CanadaPostalCodeType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a Canadian Postal Code with the format A#A #A#. The postal code cannot contain the letters D, F, I, O, Q, or U, and cannot start with W or Z. A space or dash between the two three-character groups is permitted but optional.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[ABCEGHJKLMNPRSTVXY][0-9][ABCEGHJKLMNPRSTVWXYZ][ -]?[0-9][ABCEGHJKLMNPRSTVWXYZ][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- International Postal Code Type -->
	<xsd:simpleType name="InternationalPostalCodeType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a freeform string to contain postal codes other than those used in the United States and Canada. Postal codes may contain uppercase letters, numbers, dashes, and spaces.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="16"/>
			<xsd:pattern value="[0-9A-Z\- ]{0,16}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Country Type -->
	<xsd:simpleType name="CountryType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a two-letter country code as prescribed by ISO 3166-1 alpha-2. If no country code is provided, the address will be assumed to be in the United States.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- U.S. Address Type -->
	<xsd:complexType name="USAddressType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a United States address.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Attention" type="AttentionLineType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StreetAddress1" type="StreetAddressType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="StreetAddress2" type="StreetAddressType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="City" type="CityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="State" type="USStateType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ZIPCode" type="USZIPCodeType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Canada Address Type -->
	<xsd:complexType name="CanadaAddressType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a Canadian address.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Attention" type="AttentionLineType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StreetAddress1" type="StreetAddressType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="StreetAddress2" type="StreetAddressType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="City" type="CityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Province" type="CanadaProvinceType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CanadaPostalCode" type="CanadaPostalCodeType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- International Address Type -->
	<xsd:complexType name="InternationalAddressType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for an international address outside of the United States or Canada. The elements may be ordered to match the standard or customary address formatting of the locale.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="Attention" type="AttentionLineType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StreetAddress1" type="StreetAddressType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="StreetAddress2" type="StreetAddressType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="City" type="CityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Region" type="InternationalRegionType" minOccurs="0" maxOccurs="1" nillable="true"/>
			<xsd:element name="InternationalPostalCode" type="InternationalPostalCodeType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Country" type="CountryType" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>

	<!-- Address Multi-Country Type -->
	<xsd:complexType name="AddressMultiCountryType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for an address of any type formatted according to the guidelines for USAddressType, CanadaAddressType, or InternationalAddressType above.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="1" maxOccurs="1">
			<xsd:element name="USAddress" type="USAddressType"/>
			<xsd:element name="CanadaAddress" type="CanadaAddressType"/>
			<xsd:element name="InternationalAddress" type="InternationalAddressType"/>
		</xsd:choice>
	</xsd:complexType>

	<!-- Phone Number U.S. Type -->
	<xsd:simpleType name="PhoneNumberUSType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a United States phone number. The phone number may contain a country code ("1" or "+1"). The three-digit area code and seven-digit phone number are required. Spaces, dashes, and parentheses are permitted in accordance with standard U.S. phone number formatting. Examples of valid values include but are not limited to: 
				<ul>
					<li>3146223291</li>
					<li>+13146223291</li>
					<li>314-622-3291</li>
					<li>1-314-622-3291</li>
					<li>+1 314 622-3291</li>
					<li>(314) 622-3291</li>
					<li>+1 (314) 622-3291</li>
				</ul>
				See additional pattern examples at <a href="https://regex101.com/r/9EmRlS">RegEx 101</a>.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\+?1?(\-?| ?)\(?[2-9][0-9]{2}\)?(\-?| ?)[0-9]{3}(\-?| ?)[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Phone Number International Type -->
	<xsd:simpleType name="PhoneNumberInternationalType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for an international phone number of a length from eight (8) to thirty (30) characters. The phone number must contain a country code which may be preceded by a plus sign ("+"). Spaces, dashes, and parentheses are permitted in accorance with local formatting standards and customs.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\+?(\-| )?[0-9\(\)\- ]{8,30}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Phone Number Multi-Country Type -->
	<xsd:simpleType name="PhoneNumberMultiCountryType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for a United States or international phone number formatted according to PhoneNumberUSType or PhoneNumberInternationalType above.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="PhoneNumberUSType PhoneNumberInternationalType"/>
	</xsd:simpleType>

	<!-- Quarter End Date Type -->
	<xsd:simpleType name="QuarterEndDateType">
		<xsd:annotation>
			<xsd:documentation>
				Base type for the end date of a calendar quarter. Valid dates are March 31st, June 30th, September 30th, or December 31st of any year in YYYY-MM-DD format:
				<ul>
					<li>20##-03-31</li>
					<li>20##-06-30</li>
					<li>20##-09-30</li>
					<li>20##-12-31</li>
				</ul>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="[1-9][0-9]{3}\-((03\-31)|(06\-30)|(09\-30)|(12\-31))"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>