schemas/w10p10/STLP10Type.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:include schemaLocation="../../base/STLBaseTypes.xsd"/>
	<xsd:include schemaLocation="STLW10P10ReturnHeaderType.xsd"/>
	
	<xsd:complexType name="STLP10Type">

		<xsd:annotation>
			<xsd:documentation>
				<description>
					The St. Louis Electronic Filing P-10 contains all information pertaining to a single P-10 Payroll Expense Tax Return.
				</description>
				<version>1.1.1</version>
			</xsd:documentation>
		</xsd:annotation>
			
		<!-- Sequence will enforce the order of ReturnHeader followed by ReturnLiability -->
		<xsd:sequence>
			
			<!-- Return Header -->
			<xsd:element name ="ReturnHeader" type="STLW10P10ReturnHeaderType" minOccurs="1" maxOccurs="1" />
			
			<!-- Return Liability -->
			<xsd:element name="ReturnLiability">
				<xsd:annotation>
					<xsd:documentation>
						ReturnLiability contains details of payroll subject to the Payroll Expense Tax and calculation of amounts due.
					</xsd:documentation>
				</xsd:annotation>

				<xsd:complexType>
					<xsd:all>

						<!-- Filing Period -->
						<xsd:element name="FilingPeriod" type="QuarterEndDateType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									FilingPeriod contains the end date of the quarterly or annual tax period. Valid dates are March 31st, June 30th, September 30th, or December 31st of any year in the YYYY-MM-DD format.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Taxable Payroll -->
						<xsd:element name="TaxablePayroll" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									TaxablePayroll contains the total taxable payroll within the City of St. Louis during the tax period that is subject to the Payroll Expense Tax.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gross Tax Due -->
						<xsd:element name="GrossTaxDue" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									GrossTaxDue contains the amount of Earnings Tax due during the tax period, calculated as 0.5 percent of taxable earnings.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Prior Payments -->
						<xsd:element name="PriorPayments" type="DecimalNNType" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									PriorPayments contains amounts paid towards this filing period before the return is filed. This includes any other previously applied payments. This element may be omitted if no amounts have been paid previously.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Net Tax Due -->
						<xsd:element name="NetTaxDue" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									NetTaxDue is the amount in GrossTaxDue minus the amount in PriorPayments.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Penalty -->
						<xsd:element name="Penalty" type="DecimalNNType" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									Penalty contains any calculated penalty for late payment. The penalty is calculated upon the tax balance due at the rate of 5 percent per overdue month or fraction thereof, up to a maximum of 25 percent. This element may be omitted if the filing entity believes there is no penalty due; however, if the Collector of Revenue determines that penalty is in fact due, it will be calculated and added to the amount due.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Interest -->
						<xsd:element name="Interest" type="DecimalNNType" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									Interest contains any calculated interest for late payment. Interest is calculated upon the tax balance due at the rate of 1 percent per overdue month or fraction thereof.	This element may be omitted if the filing entity believes there is no interest due; however, if the Collector of Revenue determines that interest is in fact due, it will be calculated and added to the amount due.	
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Amount Due -->
						<xsd:element name="AmountDue" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									AmountDue contains the sum of NetTaxDue, Penalty, and Interest. If the Collector of Revenue determines that any of the GrossTaxDue, PriorPayments, NetTaxDue, Penalty, and/or Interest were calculated incorrectly, the necessary adjustments will be made and the remittance will be applied accordingly.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Remittance -->
						<xsd:element name="Remittance" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									Remittance contains the actual amount of the payment remitted with the return. The remittance is applied to the amount due as calculated by the Collector of Revenue in the following order: outstanding fees; penalty due; interest due; and tax due. 
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
					</xsd:all>
				</xsd:complexType>

			</xsd:element>
		
		</xsd:sequence>
	</xsd:complexType>
		
</xsd:schema>