schemas/w10p10/STLP10BatchType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:include schemaLocation="STLBatchHeaderType.xsd"/>
	<xsd:include schemaLocation="STLP10Type.xsd"/>

	<xsd:element name="STLP10Batch">

		<xsd:annotation>
			<xsd:documentation>
				<description>
					The STLReturnBatchP10 contains one BatchHeader element providing details about the batch, followed by one or more STLP10 elements representing each P-10 return within the batch.
				</description>
				<version>1.1.0</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:sequence>

				<!-- Batch Header -->
				<xsd:element name="BatchHeader" type="STLBatchHeaderType" minOccurs="1" maxOccurs="1" />
			
				<!-- P-10 -->
				<xsd:element name="STLP10" type="STLP10Type" minOccurs="1" maxOccurs="unbounded" />

			</xsd:sequence>
		</xsd:complexType>

	</xsd:element> 

</xsd:schema>