schemas/w10p10/STLW10P10BatchType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:include schemaLocation="STLW10P10BatchHeaderType.xsd"/>
	<xsd:include schemaLocation="STLW10Type.xsd"/>
	<xsd:include schemaLocation="STLP10Type.xsd"/>
	<xsd:include schemaLocation="STLW11Type.xsd"/>

	<xsd:element name="STLW10P10Batch">

		<xsd:annotation>
			<xsd:documentation>
				<description>
					The STLW10P10Batch contains one BatchHeader element providing details about the batch, followed by one or more STLW10, STLP10, or STLW11 elements representing each W-10, P-10, or W-11 return within the batch.
				</description>
				<version>1.3.2</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:sequence>

				<!-- BatchHeader -->
				<xsd:element name="BatchHeader" type="STLW10P10BatchHeaderType" minOccurs="1" maxOccurs="1" />
				
				<!-- W-10, P-10, or W-11 Returns -->
				<xsd:choice minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="STLW10" type="STLW10Type" />
					<xsd:element name="STLP10" type="STLP10Type" />
					<xsd:element name="STLW11" type="STLW11Type" />
				</xsd:choice>
				
			</xsd:sequence>
		</xsd:complexType>
		
	</xsd:element> 

</xsd:schema>