schemas/stl_ef_p10_peo_returnbatch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:include schemaLocation="stl_ef_w10_p10_returnbatch_header_type.xsd"/>
	<xsd:include schemaLocation="stl_ef_p10_type.xsd"/>

	<xsd:element name="STL_P10_PEO_ReturnBatch">

		<xsd:annotation>
			<xsd:documentation>
				<description>The P10 PEO ReturnBatch contains one BatchHeader and one or more STLP10 elements. There must be exactly one STLP10 return for the TOTAL of the batch. There can be an optional STLP10 return for the portion of the batch that belongs to the PEO. There must be one or more STLP10 returns for reporting of the subsidiaries.</description>
				<version>1.0.1</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:sequence>
				
				<!-- BatchHeader -->
				<xsd:element name="BatchHeader" type="STL_EF_BATCH_HEADER_W10_P10_TYPE" minOccurs="1" maxOccurs="1" />

				<!-- *** NEEDS ATTENTION *** -->
				<!-- STL_P10_TOTAL -->
				<xsd:element name="STL_P10_TOTAL" type="STL_EF_P10_TYPE" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
						<xsd:documentation>The total return from the PEO.  These value will have total values for its own return and subsidiary returns {required}.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<!-- *** NEEDS ATTENTION *** -->
				<!-- STL_P10_PEO -->
				<xsd:element name="STL_P10_PEO" type="STL_EF_P10_TYPE" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The return for the PEO.  These values are for the PEO only and should not include any values attributed to any subsidiary returns {optional - if the PEO is only filing for subsidiaries}.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- *** NEEDS ATTENTION *** -->
				<!-- STL_P10_SUBSIDIARY -->
				<xsd:element name="STL_P10_SUBSIDIARY" type="STL_EF_P10_TYPE" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>The return for a subsidiary.  These values are for a single subsidiary return {required - include additional sections for each subsidiary}.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:complexType>
		
	</xsd:element>
	
</xsd:schema>