schemas/stl_ef_w10_p10_returnbatch_header_type.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
	<!-- Include any other base types needed-->
	<xsd:include schemaLocation="stl_ef_base_types.xsd"/>

	<xsd:complexType name ="STL_EF_BATCH_HEADER_W10_P10_TYPE">

		<xsd:annotation>
			<xsd:documentation>
				<description>The W-10 or P-10 Batch Header contains elements to identify the filer, the return type of the returns being filed, and the number of items being filed.</description>
				<version>1.0.2</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- SubmitterName -->
			<xsd:element name="SubmitterName" type="StringType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>SubmitterName contains the name of the entity submitting the returns, such as the business name of the taxpayer or the name of the payroll service provider filing returns on behalf of multiple taxpayers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- SubmitterFEIN -->
			<xsd:element name="SubmitterFEIN" type="EINType" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>SubmitterFEIN contains the 9-digit federal employer ID of the submitting entity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ReturnType -->
			<xsd:element name="ReturnType" type="ReturnType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>ReturnType contains the type of return included in the batch.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- TotalItems -->
			<xsd:element name="TotalItems" type="IntegerNNType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>TotalItems contains the number of STLW10 or STLP10 elements contained in the batch.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- AmountDueTotal -->
			<xsd:element name="AmountDueTotal" type="DecimalNNType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>AmountDueTotal is the sum of all the AmountDue values included in the document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- RemittanceTotal -->
			<xsd:element name="RemittanceTotal" type="DecimalNNType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>RemittanceTotal is the sum of all the Remittance values included in the document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>

	</xsd:complexType>

</xsd:schema>