schemas/stl_ef_p10_w10_returnbatch_header_type.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
	<!-- Include any other base types needed-->
	<xsd:include schemaLocation="stl_ef_base_types.xsd"/>

	<xsd:complexType name ="STL_EF_BATCH_HEADER_P10_W10_TYPE">

		<xsd:annotation>
			<xsd:documentation>
				<description>The P10 or W10 BatchHeader contains elements to identify the filer, the number of items being filed, and the return type of the returns being filed.</description>
				<version>1.0.0</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!--RemitterName-->
			<xsd:element name="RemitterName" type="StringType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						RemitterName contains the name of the entity filing the return(s), for instance: the business name of the taxpayer or the name of the payroll service provider filing returns on behalf of multiple taxpayers.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Either the RemitterFEIN or the RemitterSTLID must be provided (or both can be provided)-->
			<xsd:choice minOccurs="1" maxOccurs="2">
				
				<!--RemitterFEIN-->
				<xsd:element name="RemitterFEIN" type="EINType" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							RemitterFEIN contains the 9-digit federal employer ID of the remitting entity.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!--RemitterSTLID-->
				<xsd:element name="RemitterSTLID" type="STLIdType" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							RemitterSTLID contains the unique 8-digit Entity ID of the remitting entity assigned by STLCOR.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!--ReturnType-->
			<xsd:element name="ReturnType" type="ReturnType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						ReturnType contains the type of return included in the batch.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!--TotalItems-->
			<xsd:element name="TotalItems" type="IntegerNNType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						TotalItems contains the number of STLP10 elements contained in the batch.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--AmountDueTotal-->
			<xsd:element name="AmountDueTotal" type="DecimalNNType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						AmountDueTotal is the sum of all the AmountDue values included in the document.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--RemittanceTotal-->
			<xsd:element name="RemittanceTotal" type="DecimalNNType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						RemittanceTotal is the sum of all the Remittance values included in the document.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>

	</xsd:complexType>

</xsd:schema>