schemas/stl_ef_w10_returnbatch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<!-- Include any other base types needed-->
	<xsd:include schemaLocation="stl_ef_p10_w10_returnbatch_header_type.xsd"/>
	<xsd:include schemaLocation="stl_ef_w10_type.xsd"/>

	<xsd:element name="STL_W10_ReturnBatch">

		<xsd:annotation>
			<xsd:documentation>
				<description>The STL_W10_ReturnBatch contains one BatchHeader element and one or more STL_W10 elements.</description>
				<version>1.0.1.2025.01.02</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:sequence>

				<!--BatchHeader-->
				<xsd:element name="BatchHeader" type="STL_EF_BATCH_HEADER_P10_W10_TYPE" minOccurs="1" maxOccurs="1" />
				
				<!--STL_W10-->
				<xsd:element name="STL_W10" type="STL_EF_W10_TYPE" minOccurs="1" maxOccurs="unbounded" />
				
			</xsd:sequence>
		</xsd:complexType>
		
	</xsd:element> 

</xsd:schema>