schemas/stl_ef_w10_type.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:include schemaLocation="stl_ef_base_types.xsd"/>
	<xsd:include schemaLocation="stl_ef_w10_p10_return_header_type.xsd"/>
	
	<xsd:complexType name ="STL_EF_W10_TYPE">

		<xsd:annotation>
			<xsd:documentation>
				<description>
					The St. Louis Electronic Filing W-10 contains all information pertaining to a single W-10 Employer's Withholding Tax Return.
				</description>
				<version>1.0.3</version>
			</xsd:documentation>
		</xsd:annotation>
			
		<!-- Sequence will enforce the order of ReturnHeader followed by ReturnLiability -->
		<xsd:sequence>
			
			<!-- Return Header-->
			<xsd:element name ="ReturnHeader" type="STL_EF_W10_P10_RETURN_HEADER_TYPE" minOccurs="1" maxOccurs="1" />

			<!-- Return Liability -->
			<xsd:element name="ReturnLiability">
				<xsd:annotation>
					<xsd:documentation>
						ReturnLiability contains details of earnings subject to withholding and calculation of amounts due.
					</xsd:documentation>
				</xsd:annotation>

				<xsd:complexType>
					<xsd:all>

						<!-- Filing Period -->
						<xsd:element name="FilingPeriod" type="QuarterEndDateType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									FilingPeriod contains the end date of the quarterly or annual tax period. Valid dates are March 31st, June 30th, September 30th, or December 31st of any year in the YYYY-MM-DD format.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Taxable Earnings -->
						<xsd:element name="TaxableEarnings" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									TaxableEarnings contains the total wages, salaries, and other taxable compensation earned during the tax period that is subject to the Earnings Tax.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gross Tax Due -->
						<xsd:element name="GrossTaxDue" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									GrossTaxDue contains the amount of Earnings Tax due during the tax period, calculated as 1 percent of taxable earnings.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Prior Payments -->
						<xsd:element name="PriorPaymens" type="DecimalNNType" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									PriorPayments contains amounts paid towards this filing period before the return is filed. This includes monthly withholding deposits (W-11) and any other previously applied payments. This element may be omitted if no amounts have been paid previously.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Net Tax Due -->
						<xsd:element name="NetTaxDue" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									NetTaxDue is the amount in GrossTaxDue minus the amount in PriorPayments.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Penalty -->
						<xsd:element name="Penalty" type="DecimalNNType" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									Penalty contains any calculated penalty for late payment. The penalty is calculated upon the tax balance due at the rate of 5 percent per overdue month or fraction thereof, up to a maximum of 25 percent. This element may be omitted if the filing entity believes there is no penalty due; however, if the Collector of Revenue determines that penalty is in fact due, it will be calculated and added to the amount due.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Interest -->
						<xsd:element name="Interest" type="DecimalNNType" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									Interest contains any calculated interest for late payment. Interest is calculated upon the tax balance due at the rate of 1 percent per overdue month or fraction thereof.	This element may be omitted if the filing entity believes there is no interest due; however, if the Collector of Revenue determines that interest is in fact due, it will be calculated and added to the amount due.	
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Amount Due -->
						<xsd:element name="AmountDue" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									AmountDue contains the sum of NetTaxDue, Penalty, and Interest. If the Collector of Revenue determines that any of the GrossTaxDue, PriorPayments, NetTaxDue, Penalty, and/or Interest were calculated incorrectly, the necessary adjustments will be made and the remittance will be applied accordingly.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Remittance -->
						<xsd:element name="Remittance" type="DecimalNNType" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									Remittance contains the actual amount of the payment remitted with the return. The remittance is applied to the amount due as calculated by the Collector of Revenue in the following order: outstanding fees; penalty due; interest due; and tax due. 
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
					</xsd:all>
				</xsd:complexType>
				
			</xsd:element>
		
		</xsd:sequence>
	</xsd:complexType>
		
</xsd:schema>