schemas/stl_ef_base_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<description>St. Louis e-file Tax Schema - Base types commonly used across schema files.</description>
			<version>1.0.1.2025.01.02</version>
		</xsd:documentation>
	</xsd:annotation>

	<!-- Enumeration of allowable values for Return Type -->
	<xsd:simpleType name="ReturnType">
		<xsd:annotation>
			<xsd:documentation>Enumeartion of ReturnType valid values</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="STLP10" />
			<xsd:enumeration value="STLW10" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- String Type -->
	<xsd:simpleType name="StringType">
		<xsd:annotation>
			<xsd:documentation>Base type for a string</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	
	<!-- Boolean Type - true or false, or 1 or 0 -->
	<xsd:simpleType name="BooleanType">
		<xsd:annotation>
			<xsd:documentation>Base type for a boolean. Typically used on an Yes or No field.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>

	<!-- Integer Type -->
	<xsd:simpleType name="IntegerType">
		<xsd:annotation>
			<xsd:documentation>Base type for an integer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	
	<!-- Integer Type - Non-Negative -->
	<xsd:simpleType name="IntegerNNType">
		<xsd:annotation>
			<xsd:documentation>Base type for a non-negative integer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	
	<!-- Integer Type - Positive -->
	<xsd:simpleType name="IntegerPosType">
		<xsd:annotation>
			<xsd:documentation>Base type for a positive integer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger"/>
	</xsd:simpleType>
	
	<!-- Long Integer Type -->
	<xsd:simpleType name="LongIntegerType">
		<xsd:annotation>
			<xsd:documentation>Base type for a long integer. Range of values is: -9,223,372,036,854,775,808 thru 9,223,372,036,854,775,807</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	
	<!-- Decimal Type -->
	<xsd:simpleType name="DecimalType">
		<xsd:annotation>
			<xsd:documentation>2-digit decimal typically used by a decimal amount field.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Decimal Type - Non-Negative -->
	<xsd:simpleType name="DecimalNNType">
		<xsd:annotation>
			<xsd:documentation>2-digit decimal typically used by a non-negative decimal amount field.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Social Security Number Type -->
	<xsd:simpleType name="SSNType">
		<xsd:annotation>
			<xsd:documentation>Type for Social Security No. - 9 digits</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Employer Identification Number Type -->
	<xsd:simpleType name="EINType">
		<xsd:annotation>
			<xsd:documentation>Type for Employer Identification Number - 9 digits.  
								Typically a FEIN</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- St. Louis Identification Number Type -->
	<xsd:simpleType name="STLIdType">
		<xsd:annotation>
			<xsd:documentation>Type for St. Louis Identification Number.
								Unique 8 digit Entity ID assigned to the taxpayer by STLCOR</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{8}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- St. Louis Account Number Type -->
	<xsd:simpleType name="STLAccountIdType">
		<xsd:annotation>
			<xsd:documentation>Type for St. Louis Account Identification Number.
								Unique 10 digit Account ID assigned to the taxpayer by STLCOR specific to the taxpayer's payroll expense account.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Generic ZIP Code Type -->
	<xsd:simpleType name="GenericZIPCodeType">
		<xsd:annotation>
			<xsd:documentation>A generic, freeform string to hold ZIP codes.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- U.S. ZIP Code Type -->
	<xsd:simpleType name="USZIPCodeType">
		<xsd:annotation>
			<xsd:documentation>ZIP Code - 5 digits plus optional 4 digits with or without the dash</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{5}(-)?([0-9]{4})?"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Canadian Postal Code Type -->
	<xsd:simpleType name="CNPostalCodeType">
		<xsd:annotation>
			<xsd:documentation>
				Canadian Postal Code with format: A#A #A#.  
				Value can't contain the letters D, F, I, O, Q, or U, and cannot start with W or Z.  Allows for a space or dash between the two groups.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[ABCEGHJKLMNPRSTVXY][0-9][ABCEGHJKLMNPRSTVWXYZ][ -]?[0-9][ABCEGHJKLMNPRSTVWXYZ][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- U.S. ZIP Code Type -->
	<xsd:simpleType name="PostalCodeUSorCAType_zz">
		<xsd:annotation>
			<xsd:documentation>
				Allows for either a US ZIP Code or a Canadian Postal Code...
				US ZIP Code: 5 digits plus optional 4 digits with or without the dash in between the two groups.
				Canadian Postal Code: Format: A#A #A#.  Value can't contain the letters D, F, I, O, Q, or U, and cannot start with W or Z.  Allows for a space or dash between the two groups.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[ABCEGHJKLMNPRSTVXY][0-9][ABCEGHJKLMNPRSTVWXYZ][ -]?[0-9][ABCEGHJKLMNPRSTVWXYZ][0-9]|[0-9]{5}(-)?([0-9]{4})?"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Business Name Type -->
	<xsd:simpleType name="BusinessNameType">
		<xsd:annotation>
			<xsd:documentation>Used for a business name.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>	

	<!-- Street Address Type -->
    <xsd:simpleType name="StreetAddressType">
		<xsd:annotation>
			<xsd:documentation>Used for a street address.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
			
	<!-- City Type -->
	<xsd:simpleType name="CityType">
		<xsd:annotation>
			<xsd:documentation>Used for a city name.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	
    <!-- Country Type -->
	<xsd:simpleType name="CountryType">
		<xsd:annotation>
			<xsd:documentation>Used for a country name.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>

    <!-- State Type -->
	<xsd:simpleType name="StateOrProvinceType">
		<xsd:annotation>
			<xsd:documentation>Used for a state or province.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!--PhoneNumberUSType-->
	<xsd:simpleType name="PhoneNumberUSType">
		<xsd:annotation>
			<xsd:documentation>
				Used for a US phone number. of either 10 or 11 digits, with or without dashes.  Example of valid values
				1-202-555-1212, 202-555-1212, 12025551212, 2025551212
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(1-)?[2-9][0-9]{2}-[0-9]{3}-[0-9]{4}|(1)?[2-9][0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!--PhoneNumberForeignType-->
	<xsd:simpleType name="PhoneNumberForeignType">
		<xsd:annotation>
			<xsd:documentation>Used for a foreign phone no. - up to 30 digits</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,30}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!--PhoneNumberMultiCountryType-->
	<xsd:simpleType name="PhoneNumberMultiCountryType">
		<xsd:annotation>
			<xsd:documentation>Allows for a US or foreign phone number</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="PhoneNumberUSType PhoneNumberForeignType" />
	</xsd:simpleType>

	<!--Quarter End Date Type in the format of YYYY-MM-DD-->
	<xsd:simpleType name="QuarterEndDateType">
		<xsd:annotation>
			<xsd:documentation>The end date of a calendar quarter.  
								Valid dates are March 31st, June 30th, September 30th, or December 31st of any year.
								Format: YYYY-MM-DD</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="[1-9][0-9]{3}\-((03\-31)|(06\-30)|(09\-30)|(12\-31))"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>