schemas/stl_ef_p10_returnbatch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<!-- Include any other base types needed-->
	<xsd:include schemaLocation="stl_ef_p10_w10_returnbatch_header_type.xsd"/>
	<xsd:include schemaLocation="stl_ef_p10_type.xsd"/>

	<xsd:element name="STL_P10_ReturnBatch">

		<xsd:annotation>
			<xsd:documentation>
				<description>The STL_P10_ReturnBatch contains one BatchHeader element and one or more STLP10 elements.</description>
				<version>1.0.0</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:sequence>

				<!--BatchHeader-->
				<xsd:element name="BatchHeader" type="STL_EF_BATCH_HEADER_P10_W10_TYPE" minOccurs="1" maxOccurs="1" />
			
				<!-- STL_P10 -->
				<xsd:element name="STL_P10" type="STL_EF_P10_TYPE" minOccurs="1" maxOccurs="unbounded" />
				
			</xsd:sequence>
		</xsd:complexType>

	</xsd:element> 

</xsd:schema>