schemas/stl_ef_w10_p10_return_header_type.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:include schemaLocation="stl_ef_base_types.xsd"/>

	<xsd:complexType name ="STL_EF_W10_P10_RETURN_HEADER_TYPE">

		<xsd:annotation>
			<xsd:documentation>
				<description>The W-10/P-10 Return Header contains account identification and demographic information pertaining to the taxpayer for whom the return is being filed.</description>
				<version>1.0.0</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- *** NEEDS ATTENTION *** -->
			<!-- Either the FEIN or the Account ID must be provided (or both can be provided)-->
			<xsd:choice minOccurs="1" maxOccurs="2">
				
				<!-- FEIN -->
				<xsd:element name="FEIN" type="EINType" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							FEIN contains the 9-digit federal employer ID of the taxpayer.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- *** NEEDS ATTENTION *** -->
				<!-- AccountID -->
				<xsd:element name="AccountID" type="STLAccountIdType" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							AccountID contains the unique 10-digit Account ID assigned to the taxpayer by STLCOR specific to the taxpayer's Payroll Expense account.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:choice>
			
			<!-- BusinessName -->
			<xsd:element name="BusinessName" type="BusinessNameType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>BusinessName contains the legal business name or trade name of the taxpayer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Street1 -->
			<xsd:element name="Street1" type="StreetAddressType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation> Street1 contains the street address of the taxpayer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Street2 -->
			<xsd:element name="Street2" type="StreetAddressType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Street2 contains additional mailing address information from the taxpayer {optional}.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- City -->
			<xsd:element name="City" type="CityType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>City contains the city of the taxpayer's address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- StateOrProvince -->
			<xsd:element name="StateOrProvince" type="StateOrProvinceType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>State contains the state or region of the taxpayer's address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- PostalCode -->
			<xsd:element name="PostalCode" type="GenericZIPCodeType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>PostalCode contains the ZIP code or postal code of the taxpayer's address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Country -->
			<xsd:element name="Country" type="CountryType" default="United States" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Country contains the country of the taxpayer's address. Default is United States.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Telephone -->
			<xsd:element name="Telephone" type="PhoneNumberMultiCountryType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Telephone contains the phone number of the taxpayer. This field is optional.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- AddressChange -->
			<xsd:element name="AddressChange" type="BooleanType" default="false" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>AddressChange indicates that the address of the taxpayer has changed. The default value is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- AmendedReturn -->
			<xsd:element name="AmendedReturn" type="BooleanType" default="false" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>AmendedReturn indicates that the taxpayer is filing an amended return. The default value is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- FinalReturn -->
			<xsd:element name="FinalReturn" type="BooleanType" default="false" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>FinalReturn indicates that the taxpayer has terminated their business. The default value is false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
		
	</xsd:complexType>
	
</xsd:schema>