schemas/stl_ef_w10_peo_returnbatch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:include schemaLocation="stl_ef_w10_p10_returnbatch_header_type.xsd"/>
	<xsd:include schemaLocation="stl_ef_w10_type.xsd"/>

	<xsd:element name="STL_W10_PEO_ReturnBatch">

		<xsd:annotation>
			<xsd:documentation> 
				<description>
					The W10 PEO ReturnBatch contains one BatchHeader and one or more STLW10 elements. There must be exactly one STLW10 return for the TOTAL of the batch. There can be an optional STLW10 return for the portion of the batch that belongs to the PEO. There must be one or more STLW10 returns for reporting of each subsidiary.
				</description>
				<version>1.0.3</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:sequence>
				
				<!-- Batch Header -->
				<xsd:element name="BatchHeader" type="STL_EF_BATCH_HEADER_W10_P10_TYPE" minOccurs="1" maxOccurs="1" />

				<!-- *** NEEDS ATTENTION *** -->
				<!-- STL W-10 PEO Total -->
				<xsd:element name="STLW10PEOTotal" type="STL_EF_W10_TYPE" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
						<xsd:documentation>
							W10PEOTotal contains the combined dollar amounts for all W-10s included in the STL W-10 PEO return.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<!-- STL W-10 PEO Return -->
				<xsd:element name="STLW10PEOReturn" type="STL_EF_W10_TYPE" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							STLW10PEOReturn contains any required W-10 return by the PEO itself, rather than those of any subsidiary PEO clients. For example, if a PEO directly employs staff that is subject to the Earnings Tax, those earnings would be reported on STLW10PEOReturn. This element is optional if there are no return due for the PEO itself.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- STL W-10 PEO Subsidiary Return -->
				<xsd:element name="STLW10PEOSubsidiary" type="STL_EF_W10_TYPE" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							STLW10PEOSubsidiary contains a W-10 return for a subsidiary or client of the PEO. Each subsidiary must have its own STLW10PEOSubsidiary element.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:complexType>
		
	</xsd:element>
	
</xsd:schema>