schemas/STLP10PEOBatchType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://stlouis-mo.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://stlouis-mo.gov/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:include schemaLocation="STLBatchHeaderType.xsd"/>
	<xsd:include schemaLocation="STLP10Type.xsd"/>

	<xsd:element name="STLP10PEOBatchType">

		<xsd:annotation>
			<xsd:documentation>
				<description>
					The P-10 PEO Batch contains one BatchHeader and one or more STLP10 elements. There must be exactly one STLP10 return for the total of all returns in the batch. There can be an optional STLP10 return for the portion of the batch that belongs to the PEO. There must be one or more STLP10 returns for each subsidiary.
				</description>
				<version>1.1.0</version>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:sequence>
				
				<!-- Batch Header -->
				<xsd:element name="BatchHeader" type="STLBatchHeaderType" minOccurs="1" maxOccurs="1" />

				<!-- P-10 PEO Total -->
				<xsd:element name="STLP10PEOTotal" type="STLP10Type" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
						<xsd:documentation>
							STLP10PEOTotal contains the combined dollar amounts for all P-10s included in the STL P-10 PEO return.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<!-- P-10 PEO Self Return -->
				<xsd:element name="STLP10PEOSelfReturn" type="STLP10Type" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							STLP10PEOSelfReturn contains any required P-10 return by the PEO itself, rather than those of any subsidiary PEO clients. For example, if a PEO directly employs staff that works in a location subject to the Payroll Expense Tax, that payroll would be reported on STLP10PEOSelfReturn. This element is optional if there is no return due for the PEO itself.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- P-10 PEO Subsidiary Return -->
				<xsd:element name="STLP10PEOSubsidiaryReturn" type="STLP10Type" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							STLP10PEOSubsidiaryReturn contains a P-10 return for a subsidiary or client of the PEO. Each subsidiary must have its own STLP10PEOSubsidiary element.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:complexType>
		
	</xsd:element>
	
</xsd:schema>